.not-found{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    padding-top: 20px;
    height: calc(100vh - 60px);
}

.not-found h1{
    font-size: 120px;
    color: red;
}

.not-found h2{
    font-size: 60px;
}

.link{
    padding: 10px;
    color: rgb(242, 242, 248);
    text-decoration: none;
    font-size: 30px;
    background-color: black;
    border-radius: 8px;
    margin-top: 20px;

}

.link:hover{
    letter-spacing: 1px;
    transition: 1s;
}